@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fbf8f1;
    --foreground: #1e1e24;
    --aura-background: #fbf8f1; /* cream */
    --aura-foreground: #1e1e24; /* dark */
  }

  .dark {
    --background: #1e1e24;
    --foreground: #fbf8f1;
    --aura-background: #1e1e24;
    --aura-foreground: #fbf8f1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

::selection {
  background: var(--aura-pink);
  color: var(--aura-dark);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.noise-overlay {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
